#main-image-frame {
	margin: 10px;
  	background-color: #222;
}

#zoom-image-frame {
	margin: 10px;
	background-color: #444;
}

body {
	margin: 0;
	background-color: #111;
}

#container {
	display: flex;
	justify-content: center;
}