body {
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
	color: #ddd;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
}

header {
	background-color: #222;
	height: 100px;
}

nav {
	background-color: #666;
	height: 50px;
}

main {
	background-color: #444;
	flex-grow: 1;
	flex-shrink: 0;
}

footer {
	background-color: #222;
	height: 100px;
}